.header {
  background: url("../image/bg.webp") no-repeat center/cover;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bandeau {
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 3rem;
  justify-content: left;
  backdrop-filter: blur(5rem);
}

.bandeau img {
  height: 90%;
  margin: 1rem;
}

.bandeau h2 {
  font-family: "the-seasons", sans-serif;
  font-size: 3rem;
  padding: 20rem;
  color: white;
}

.main_title {
  font-size: 7rem;
  padding: 8rem;
}

.main_title h1 {
  font-family: "the-seasons", sans-serif;
  color: white;
}

.arrow {
  height: 10%;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
